h1 {
	padding: 0px 0px 15px 15px;
	text-align: center;
}

img {
	width: 100%;
}

.radio {
	margin-top: 0px;
	margin-left: 20px;
}

#showPassword {
	margin-top: 4%;
}

#inputForm {
	padding-left: 0px;
}

h1, #password {
	color: #508BE8;
}
